* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: ghostwhite;
    color: rgb(36, 35, 35);     
}

.header {
    background-image: url(../recursos/portada1.jpg);
    background-size: cover;
    padding: 12rem;
    font-size: 3rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main{
    padding: 4rem;
}

.titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1rem;
    text-align: center;
    font-size: 1.9rem;
}

.subtitulo {
    font-size: 1.2rem;
    padding: 1.4rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;   
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30vw;
}

label {
    padding: 1rem;
}

button {
    margin: 1.5rem;
    padding: 1rem;
    width: 30vw; 
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(219, 213, 213);
    text-align: center;
    padding: 4rem;
    align-content: center;
}

iframe {
    width: 30vw;
    height: 25vh;
}

.tarjetas {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    
}

.img {
    
    width: 70vw;
    height: auto;
    padding: 2rem;
    
}

.imgTarjeta {
    
    width: 50vw;
    height: auto;
    padding: 1rem;
    
}

.form-check {
    display: flex;
    align-items: center;
}


